@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  font-family: "Instrument Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

@layer base {
  :root {
    --background: 205, 97%, 45%;
    --foreground: 217, 100%, 22%;
    --card: 0, 0%, 100%;
    --card-foreground: 0, 0%, 3.9%;
    --popover: 0, 0%, 100%;
    --popover-foreground: 0, 0%, 3.9%;
    --primary: 210, 97%, 12%; /* Updated primary color */
    --primary-foreground: 210, 100%, 97%; /* Light color for text on primary */
    --muted: 0, 0%, 96.1%;
    --muted-foreground: 0, 0%, 45.1%;
    --accent: 0, 0%, 96.1%;
    --accent-foreground: 0, 0%, 9%;
    --destructive: 0, 84.2%, 60.2%;
    --destructive-foreground: 0, 0%, 98%;
    --border: 0, 0%, 89.8%;
    --input: 0, 0%, 89.8%;
    --ring: 0, 0%, 3.9%;
    --radius: 0.5rem;
    --chart-1: 12, 76%, 61%;
    --chart-2: 173, 58%, 39%;
    --chart-3: 197, 37%, 24%;
    --chart-4: 43, 74%, 66%;
    --chart-5: 27, 87%, 67%;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
/* This file is for your main application CSS */
@layer components {
  .d {
    @apply border-2 border-red-900 border-solid;
  }
  .blade-top-padding {
    @apply pt-8 md:pt-10 lg:pt-12  xl:pt-16 2xl:pt-20  /* needs to be changed*/;
  }
  .blade-top-padding-sm {
    @apply pt-4  md:pt-6  lg:pt-8 xl:pt-10 2xl:pt-14;
  }
  .blade-top-padding-lg {
    @apply pt-12 md:pt-16 lg:pt-20 xl:pt-24 2xl:pt-32;
  }

  .blade-bottom-padding {
    @apply pb-8 md:pb-10 lg:pb-12  xl:pb-16 2xl:pb-20 /* needs to be changed*/;
  }
  .blade-bottom-padding-sm {
    @apply pb-4  md:pb-6  lg:pb-8 xl:pb-10 2xl:pb-14/* needs to be changed*/;
  }
  .blade-bottom-padding-lg {
    @apply pb-12 md:pb-16  lg:pb-20 xl:pb-24 2xl:pb-32; /* needs to be changed*/
  }

  .blade-top-margin {
    @apply mt-8 md:mt-10 lg:mt-12  xl:mt-16 2xl:mt-20;
  }
  .blade-top-margin-sm {
    @apply mt-4  md:mt-6  lg:mt-8 xl:mt-10  2xl:mt-14;
  }
  .blade-top-margin-lg {
    @apply mt-10 md:mt-12  lg:mt-16 xl:mt-20 2xl:mt-24;
  }

  .blade-bottom-margin {
    @apply mb-8 md:mb-10 lg:mb-12  xl:mb-16 2xl:mb-20;
  }
  .blade-bottom-margin-sm {
    @apply mb-4  md:mb-6  lg:mb-8 xl:mb-10 2xl:mb-14;
  }
  .blade-bottom-margin-lg {
    @apply mb-10 md:mb-12  lg:mb-16 xl:mb-20 2xl:mb-24;
  }

  .w-container-sm {
    @apply max-w-screen-2xl mx-auto  md:w-10/12 xl:w-9/12  px-3;
  }
  .w-container {
    @apply max-w-screen-2xl mx-auto md:w-11/12 lg:w-10/12 px-3;
  }
  .w-container-lg {
    @apply md:w-11/12 px-3 max-w-screen-2xl mx-auto;
  }
  .w-container-xl {
    @apply md:w-11/12 px-3 2xl:px-12 max-w-[1920px] mx-auto;
  }

  .spaced-text {
    word-spacing: 4px;
  }
  .list-style {
    @apply md:text-lg xl:text-xl text-base;
  }
  .error-text {
    @apply text-base text-red-500 font-normal mt-1;
  }

  /* btn styles */
  .btn-primary {
    @apply bg-brand text-light font-inter font-medium rounded-full px-6 py-2.5 hover:bg-dark transition-colors duration-150 ease-in-out focus-visible:outline-dark text-base outline-[2px] outline  border-none outline-offset-2 outline-transparent focus-visible:ring-0 focus-visible:border-none;
  }
  .btn-secondary {
    @apply bg-secondary text-dark font-medium font-inter rounded-full px-6 py-2.5 hover:bg-opacity-95 transition-colors duration-150 ease-in-out focus-visible:outline-secondary text-base  outline-[2px] outline  border-none outline-offset-2 outline-transparent focus-visible:ring-0 focus-visible:border-none;
  }
  .btn-light {
    @apply bg-light text-dark font-medium font-inter rounded-full px-6 py-2.5 hover:bg-opacity-90 transition-colors duration-150 ease-in-out focus-visible:outline-light text-base  outline-[2px] outline  border-none outline-offset-2 outline-transparent focus-visible:ring-0 focus-visible:border-none;
  }
}

/* gradients */

.footer-gradient {
  background-image: radial-gradient(100% 120% at center 0, #001240, #030014);
}

a {
  @apply font-medium text-blue-600 dark:text-blue-500 hover:underline;
}

.test-btn {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800;
}

/* css loader. do not change anything in this block */
.loader {
  height: 15px;
  aspect-ratio: 6;
  display: flex;
}
.loader:before,
.loader:after {
  content: "";
  flex: 1;
  padding-left: calc(100% / 6);
  background: radial-gradient(
      closest-side at calc(100% / 3) 50%,
      #001240 90%,
      #0000
    )
    0/75% 100% content-box;
  animation: l20 2s infinite;
}
.loader:after {
  --_s: -1;
}
@keyframes l20 {
  0% {
    transform: scale(var(--_s, 1)) translate(0) rotate(0);
  }
  25% {
    transform: scale(var(--_s, 1)) translate(-25%) rotate(0);
  }
  50% {
    transform: scale(var(--_s, 1)) translate(-25%) rotate(1turn);
  }
  75%,
  100% {
    transform: scale(var(--_s, 1)) translate(0) rotate(1turn);
  }
}
