<footer class="footer-gradient blade-top-padding-sm blade-bottom-padding-sm">
  <div class="w-container py-4 md:py-8">
    <div class="flex justify-between gap-4 items-start">
      <div class="flex items-start space-x-7">
        <img src={~p"/images/logo_light.svg"} class="h-24 mt-2" alt="Flowbite
        Logo" />
        <div class="flex flex-col gap-2">
          <span
            class="text-4xl text-light capitalize font-medium font-inter whitespace-nowrap"
          >
            hiring portal
          </span>

          <span
            class="self-end text-base leading-snug text-light font-normal max-w-[300px] font-inter text-opacity-70"
          >
            Creating personalised hiring experiences
          </span>

          <div class="grid place-content-start">
            <a
              href="https://www.linkedin.com/company/qualify-jobs"
              target="_blank"
              class="stroke-light fill-light mt-4"
            >
              <svg
                stroke="inherit"
                fill="inherit"
                stroke-width="0"
                viewBox="0 0 448 512"
                class="h-7 hover:fill-blue transition-all"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"
                ></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-3 sm:pr-5 md:pr-10">
        <ul class="flex gap-2 flex-col">
          <li>
            <span class="text-base font-medium text-light font-inter">
              Company
            </span>
          </li>

          <li>
            <a
              href="/"
              class="text-light text-opacity-70 font-inter hover:text-opacity-100 text-sm tracking-wide transition-colors duration-150 ease-in-out"
            >
              Home
            </a>
          </li>
          <li>
            <a
              href="/about"
              class="text-light text-opacity-70 font-inter hover:text-opacity-100 text-sm tracking-wide transition-colors duration-150 ease-in-out"
            >
              About
            </a>
          </li>
          <li>
            <a
              href="/solutions"
              class="text-light text-opacity-70 font-inter hover:text-opacity-100 text-sm tracking-wide transition-colors duration-150 ease-in-out"
            >
              Solutions
            </a>
          </li>
          <li>
            <a
              href="/pricing"
              class="text-light text-opacity-70 font-inter hover:text-opacity-100 text-sm tracking-wide transition-colors duration-150 ease-in-out"
            >
              Pricing
            </a>
          </li>

          <li>
            <a
              href="/contact"
              class="text-light text-opacity-70 font-inter hover:text-opacity-100 text-sm tracking-wide transition-colors duration-150 ease-in-out"
            >
              Contact
            </a>
          </li>
        </ul>
        <ul class="flex gap-2 flex-col">
          <li>
            <span class="text-base font-medium text-light font-inter">
              Quick Links
            </span>
          </li>

          <li>
            <a
              href="/faq"
              class="text-light text-opacity-70 font-inter hover:text-opacity-100 text-sm tracking-wide transition-colors duration-150 ease-in-out"
            >
              FAQs
            </a>
          </li>

          <li>
            <a
              href="/terms-and-conditions"
              class="text-light text-opacity-70 font-inter hover:text-opacity-100 text-sm tracking-wide transition-colors duration-150 ease-in-out"
            >
              Terms & Conditions
            </a>
          </li>

          <li>
            <a
              href="/help-center"
              class="text-light text-opacity-70 font-inter hover:text-opacity-100 text-sm tracking-wide transition-colors duration-150 ease-in-out"
            >
              Help Center
            </a>
          </li>
        </ul>
      </div>
    </div>
    <hr class="mb-6 mt-14 border-light border-opacity-10 sm:mx-auto" />
    <div class="flex justify-between gap-3 items-center">
      <span class="block text-sm text-light text-opacity-70 font-inter"
        >©2024 Hiring Portal. All rights reserved.
      </span>

      <span class="block text-sm text-light text-opacity-70 font-inter">
        <p>MVP</p>
      </span>
    </div>
  </div>
</footer>
