<header class="bg-white sticky top-0">
  <div class="w-container flex items-center py-5 gap-7">
    <div class="basis-60">
      <a href="/">
        <img loading="eager" src={~p"/images/logo.svg"} class="h-12" alt="Logo
        for the portal" />
      </a>
    </div>
  </div>
</header>
